/* main CSS for the application*/
body {
    padding:25px;
}

h6 {
    padding:0px;
    margin:0px;
    font-size: 0px;
}

footer {
    margin-top:50px;
}

label, legend {
    display:inline  ;
    margin-top:10px;
    margin-bottom:10px;
}

input, textarea, select {
    display:inline;
    margin-top:10px;
    margin-bottom:10px  ;
}

input[type='checkbox'], input[type='radio'] {
    display:inline;
    margin-top:10px;
    margin-bottom:10px  ;
}

table, th, td {
    border-style:solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 800px;
}

#tblAmortSchedule, #tblAmortSchedule th, #tblAmortSchedule td {
    border-style:solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 800px;
}

/* Leveraged Session Style Code from Class Notes. http://dwa15.com*/
.message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:orange;
    font-weight:bold;
}

/* Reference: Top navigation Code leveraged from w3schools.com. https://www.w3schools.com/howto/howto_js_topnav.asp*/
/* background color to the top navigation */
.horizontalNav {
    background-color: #003366;
    overflow: hidden;
}

/* Styling of the links inside the navigation bar */
.horizontalNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 15px;
}

/* the color of links upon hover */
.horizontalNav a:hover {
    background-color: #c0c0c0;
    color: black;
}

/* color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
